@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>There should probably be something interesting here..</p>
<img src="https://cdn.vimmerbytidning.se/Articles/70525/Images/43969/katla.jpg/Display/katla.jpg" alt="Katla" />